#summary p.collapse:not(.show) {
    height: 9em !important;
    overflow: hidden;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
  
#summary p.collapsing {
    min-height: 9em !important;
}
  
#summary a.collapsed:after  {
    content: '+ Read More';
}
  
#summary a:not(.collapsed):after {
    content: '- Read Less';
}

.reveal .card-img-overlay{
    opacity: 0;
    height: 100%;
}

.reveal .card-img-overlay:hover {
    height: auto;
    opacity: 1;
    background-color: rgba(52, 58, 64, 0.8);
    transition: opacity 0.3s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  /* outline: black;
  border-radius: 50%;
  border: 1px solid black; */
  background-image: none; 
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}