<div class="card mb-2">
    <div class="card-body pt-1">
        <ul class="list-inline">
            <li class="list-inline-item"><img src="{{post.author.avatar(36)}}" class="img-thumbnail" alt=""></li>
            <li class="list-inline-item">
                <a href="{{url_for('main.user', username=post.author.username)}}">
                    <h5 class="card-title m-0 pt-1">{{post.author.username}}</h5>
                </a>
                <div class="text-muted p-0 m-0">{{moment(post.timestamp).fromNow()}}</div>
            </li>
        </ul>
        <p class="card-text">{{post.body}}</p>
    </div>
</div>