<div class="card mb-2">
    <div class="card-body">
        <ul class="list-inline card-title">
            <li class="list-inline-item">
                <a href="{{url_for('main.movie', movieid=review.movie_id)}}">
                    {{review.movie.title}}
                </a>
            </li>
            <li class="list-inline-item">{{review.author.username}}</li>
            <li class="list-inline-item">{{review.rating}}</li>
            <li class="list-inline-item"><small class="text-muted">{{moment(review.timestamp).fromNow()}}</small></li>
        </ul>
        {% if review.body %}
        <p class="card-text">{{review.body}}</p>
        {% endif %}
    </div>
</div>