{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{current_user.username}}!</h1>
    {% if form %}            
    <form action="" method="POST" class="mb-3">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.post.label}}<br>
            {{form.post(cols=64, rows=4, class_="form-control")}}
            {% for error in form.post.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{error}}</strong> 
            </div>
            <script>
                $(".alert").alert();
            </script>
            {% endfor %}
        </div>
        {{form.submit(class_="btn btn-primary")}}
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{prev_url}}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{next_url}}">Older Posts</a>
    {% endif %}
{% endblock %}