{% extends "base.html" %}

{% block content %}
<h1 class="h2">Sign In</h1>
<form action="" method="post" nonvalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username(size=32, class_="form-control") }}
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>[{{ error }}]</strong>
            </div>    
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(size=32, class_="form-control") }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>[{{ error }}]</strong>
            </div>    
        {% endfor %}
    </div>
    <div class="form-check pb-3">
        {{ form.remember_me(class_="form-check-input") }} {{ form.remember_me.label(class_="form-check-label") }}
    </div>
    {{ form.submit(class_="btn btn-primary")  }}
    <div class="form-group pt-3"><a href="{{url_for('reset_password_request')}}">Forgot your password?</a></div>
</form>
<div>New User? <a href="{{ url_for('register') }}">Click to Register!</a></div>
{% endblock %}