<div class="row p-3">
    <div class="col-sm-3 ">
        <img src="{{ movie.poster }}" class="img-thumbnail" alt="">
    </div>
    <div class="col-sm-9">
        <a href="{{url_for('main.movie', movieid=movie.id)}}"><h2>{{ movie.title }}</h2></a>
        <ul class="list-inline">
            <li class="list-inline-item">Rating: {{ movie.rating|round(1) }}</li>
            {% if movie.imdb_rating %}<li class="list-inline-item">IMDB: {{ movie.imdb_rating|round(1) }}</li>
            {% endif %}
        </ul>
        {% if movie.genre %}<p class="text-muted">{{ movie.genre }}</p>{% endif %}
        {% if movie.plot %}
        <div id="summary">
            <p class="collapse" id="collapseSummary">{{ movie.plot }}</p>
            <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                aria-controls="collapseSummary"></a>
        </div>{% endif %}
    </div>
</div><hr>