{% extends "base.html" %}

{% block content %}
<h1 class="mx-3 m-4">{{ heading }}</h1><br>
<div class="container-fluid">
    {% for review in reviews %}
    {% include "_review.html" %}
    {% endfor %}
    <ul class="list-inline">
        {% if prev_url %}
        <a href="{{prev_url}}" class="list-inline-item">Newer reviews</a>
        {% endif %}
        {% if next_url %}
        <a href="{{next_url}}" class="list-inline-item">Older reviews</a>
        {% endif %}
    </ul>
</div>
{% endblock %}