{% extends "base.html" %}

{% block content %}
{% include "user_tile.html" %}
<h4 class="mx-3">Reviews by {{ user.username }}</h4><br>
<div class="container-fluid">
    {% for review in reviews %}
    {% include "_review.html" %}
    {% endfor %}
    <ul class="list-inline">
        {% if prev_url %}
        <a href="{{prev_url}}" class="list-inline-item">Newer reviews</a>
        {% endif %}
        {% if next_url %}
        <a href="{{next_url}}" class="list-inline-item">Older reviews</a>
        {% endif %}
    </ul>
</div>
{% endblock %}